body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}
